1. What are data structures and why they are important?
-> Data Structures are specialized formats for organizing,storing and accessing collections of data.They are important because choosing right data sructure can significantly impacts the efficiency and performance of the program.It can simplify data manipulation,optimize searching and sorting operations and conserve memory usage.

2.Explain the difference between mutable and immutable data types with examples?
  
  -> Mutable data types are items which once created can be changed .for example list data structure.You can add,remove or modify items in a list.

  Immutable data types are items which once created cannot be changed.They provide a secure way to store data that shouldn't be modified.for example Tuple.

3.What are the main difference between list and tuple in python?

-> The main difference is list is mutable and tuple is immutable in python.

4.Describe How Dictionary Stores data?

-> The Elements are stored in a key value pair. They are stored not in specific order.keys and values can be of various data types.

5. why might you use a set instead of list in python?
-> set are useful when you don't wan't duplicate entries and it is useful for checking if an item exists and finding intersection or  difference between the sets.

6. What is a string in Python,How is it different from a list?

-> String is a sequence of characters.It represents and manipulate textual data.
It is immutable whereas list is a collection of items and it is mutable.

7. How do tuples ensure data integrity in Python?

-> Once tuples created, its content cannot be changed. You cannot add items,remove existing items or modify an element.This protects the data from accidental changes.

8. What is Hash table and how does relate to dictionaries in python?

 -> Hash table is a data structure using hash functions to store and retrieve key value pairs quickly.and Dictionaries is a built in implementation of hash table in python. Dictionary internally uses hashtable for fast look ups.Keys are hashed using python's internal hash function.hash determines where the value is stored in memory.keys must be immuatable.

9. Can lists contain different data types in Python?

->  yes

10. Explain why strings are immutable in Python?

-> Strings are immuatable so we cannot modify individual characters.
Any string operation that seems to change the string creats a new one.
It is necessary as strings are used for dictionary keys,and dictionary keys must be hashable If strings were mutable, changing the string would change its hash value, leading to incorrect lookups.Python interns some strings (reuses memory for identical strings).This is only safe if strings are immutable.Immutability helps with safe sharing across threads.
Since strings can't be changed, there's no risk of race conditions or data corruption when used by multiple threads.

11. What advantages do dictionaries offer overs lists for certain tasks?

-> Dictionaries use a hash table, so accessing a value by key is very fast.
Lists require a linear search (O(n)) unless you know the index.Dictionaries are self-describing: each value has a meaningful key.Lists are position-based, so you must remember what each index represents.With dictionaries, you can retrieve data without knowing its position.In lists, you must know the exact index.Dictionaries automatically prevent duplicate keys.Lists can have duplicate values, which may lead to errors if uniqueness is important.Dictionaries are excellent for representing objects, JSON data, or records.
Lists are better for ordered collections or sequences.You can easily add, remove, or update items by key in a dictionary.In lists, modifying data requires index manipulation.

12. Describe a scenario where using a tuple would be preferable over a list?

->Tuples should be use where you don't want to modify the data.The data is fixed and should not change.You want to ensure safety and integrity.

for example 1) you are storing aadhar card or pan carof person.2)Suppose you're building a mapping application that stores the fixed location of various landmarks.
taj_mahal_location = (27.1751, 78.0421)

13. How sets handles duplicate values in Python?

->  A set is an unordered, mutable collection of unique elements.Sets are based on hash tables, just like dictionaries.When a new element is added:
Python computes its hash value.If that hash already exists in the set, the element is ignored.

14. How does the "in" keyword work differently for lists and dictionaries?

->  The in keyword is used to check membership in both lists and dictionaries, but it behaves differently depending on the data type.in with Lists:-
Checks if a value exists in the list and Searches through all elements one by one (linear search).
in with Dictionaries:Checks if a key exists in dictionary, not values.
Very fast because it uses a hash table.

15.Can you modify the elements in a tuple?Explain why or why not?

->  No, you cannot modify the elements of a tuple in Python — because tuples are immutable.Once a tuple is created:You cannot change, add, or remove its elements.Any attempt to do so will raise an error.

16.What is a nested dictionary.and give an example of its use case?

->  A nested dictionary is a dictionary within another dictionary.
It allows you to model complex, hierarchical data using multiple levels of key-value pairs.magine you're building a student database for a school system.
Each student has:
Basic info (name, roll number),
A dictionary of subject-wise marks.,
A dictionary for contact details.

students = {
    
    "1001": {
        "name": "Alice",
        "marks": {"math": 90, "science": 85},
        "contact": {"email": "alice@example.com", "phone": "1234567890"}
    },
    "1002": {
        "name": "Bob",
        "marks": {"math": 78, "science": 88},
        "contact": {"email": "bob@example.com", "phone": "9876543210"}
    }
}

17. Describe the time complexity of accessing elements in a dictionary?

->  Average-case time complexity: O(1)-Constant time.
Worst-case time complexity: O(n)-Very rare.Python dictionaries are implemented using a hash table.Python performs:Hashing the key  to find an index in memory
.Direct access to that index to retrieve the value.This gives it constant time access: O(1).n very rare cases:Many keys produce the same hash value (called a hash collision) Python has to search through a sequence of collided keys to find the match.This degrades performance to O(n), but Python uses smart collision resolution (open addressing) to avoid this.

18. In What situations are lists are preferred over dictionaries?

-> While dictionaries are great for key-value pairs, lists shine in situations where order, indexing, and sequential data are important.
Lists maintain insertion order (since Python 3.7+), and you can access elements by index.Lists are ideal when you're looping through items in a specific sequence.If your data doesn’t need labels or key-value pairs, a list is simpler and more efficient.Lists support:Access by index: my_list[0] and Slicing: my_list[1:3].Lists support many built-in methods:nums.sort() and
nums.reverse().When implementing data structures like stacks (append, pop) or queues (pop(0)), lists are ideal.Lists are lighter and simpler for small or homogeneous datasets compared to the overhead of key-value storage in dictionaries.

19. Why are dictionaries considered unordered,and how does that affect data retrieval?

->  Dictionaries were considered unordered collections.
This meant the order in which you inserted items wasn't guaranteed to be preserved.Internally, they were optimized for fast access, not sequence.They use hashtable for storing key and values.It is designed for key based access.So hashing of key provides faster data retrieval.constant time access O(1).As of Python 3.8+, it's a language guarantee: dictionaries remember the order in which items were added.So now, they behave like ordered maps, but are still primarily used for key-based access, not positional data.

20. Explain the difference between a list and a dictionary in terms of data retrieval?

->
Data Access Method Of List :By index (e.g., my_list[0])
Data Access Method Of Dictionary:By key (e.g., my_dict["name"])

Lookup Time Complexity of List: O(1) for index, O(n) for value lookup
Lookup Time Complexity of Dictionary:O(1) average for key-based lookup

Ordering Of list:Ordered (insertion order preserved)
Ordering Of Dictionary:Insertion order preserved (since Python 3.7+)

Key vs. Position Of list:Accessed by position
Key vs. Position Of Dictionary:	Accessed by key

List Best for:Sequential/ordered data
Dictionary Best for:Key-value paired data

In [2]:
#code to create a string with your name and print it?
name="Saurabh"
print("My name is:",name)

My name is: Saurabh

In [3]:
#code to find the length of the string "Hello World"
text = "Hello World"
length = len(text)
print("Length Of the String is:",length)

Length Of the String is: 11

In [5]:
#code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
sliced = text[:3]
print("First 3 characters sliced:",sliced)

First 3 characters sliced: Pyt

In [8]:
#code to convert the string "hello" to uppercase
string = "hello"
converted = string.upper()
print("coverted string to uppercase:",converted)

coverted string to uppercase: HELLO

In [9]:
#Write a code to replace the word "apple" with "orange" in the the string "I like apple"
text = "I like apple"
new_text= text.replace("apple","orange")
print(new_text)

I like orange

In [10]:
#Write a code to create a list with numbers 1 to 5 and print it#
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [11]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]#
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [12]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4]#
numbers = [1,2,3,4]
numbers.remove(3)
print(numbers)

[1, 2, 4]

In [13]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']#
my_list = ['a','b','c','d']
second_element = my_list[1]
print(second_element)

b

In [14]:
#Write a code to reverse the list [10, 20, 30, 40, 50]#
my_list = [10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [15]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.#
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

In [16]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')#
my_tuple = ('red', 'green', 'blue', 'yellow')
second_last_element = my_tuple[-2]
print(second_last_element)

blue

In [17]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15).#
my_tuple = (10,20,5,15)
minimum = min(my_tuple)
print(minimum)

5

In [18]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')#
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

1

In [19]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.#
my_tuple = ('apple', 'banana', 'orange')
if 'kiwi' in my_tuple:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

In [20]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.#
my_set = {'a','b','c'}
print(my_set)

{'c', 'a', 'b'}

In [21]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.#
my_set = {1,2,3,4,5}
my_set.clear()
print(my_set)

set()

In [22]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.#
my_set = {1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [23]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.#
set1 = {1,2,3}
set2 = {3,4,5}
union = set1.union(set2)
print(union)

{1, 2, 3, 4, 5}

In [24]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}#
set1 = {1,2,3}
set2 = {2,3,4}
intersection = set1.intersection(set2)
print(intersection)

{2, 3}

In [26]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it#
my_dict = {
    "name": "Saurabh",
    "age": 38,
    "city": "Mumbai"
}
print(my_dict)

{'name': 'Saurabh', 'age': 38, 'city': 'Mumbai'}

In [28]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.#
my_dict = {'name': 'John', 'age': 25}
my_dict['country']= 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [29]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}#
my_dict = {'name': 'Alice', 'age': 30}
value = my_dict['name']
print(value)

Alice

In [30]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.#
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [31]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}#
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("city is in the dictionary")
else:
    print("city is not in the dictionary")

city is in the dictionary

In [32]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.#
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30)
my_dict = {'a': 1, 'b': 2, 'c': 3}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30)
Dictionary: {'a': 1, 'b': 2, 'c': 3}

In [33]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)#
my_list = [12,34,56,4,93]
my_list.sort()
print(my_list)

[4, 12, 34, 56, 93]

In [34]:
#Write a code to create a list with strings and print the element at the third index.#
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[3])

date

In [36]:
# Write a code to combine two dictionaries into one and print the result.#
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1,**dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [37]:
#Write a code to convert a list of strings into a set.#
my_list = ['apple', 'banana', 'cherry', 'apple', 'banana']
my_set = set(my_list)
print(my_set)

{'apple', 'cherry', 'banana'}